@{
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var postData = null;
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SxcManage/Sxc_OrderInfo/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    postData = data;
                    $("#form1").SetWebControls(data);
                }
            })
        }

        $("#Consignee").attr('disabled', 'disabled');
        $("#AddressRegion").attr('disabled', 'disabled');
        $("#AddressDetail").attr('disabled', 'disabled');
        $("#Telephone").attr('disabled', 'disabled');
        $("#UserNote").attr('disabled', 'disabled');
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        //var postData = $("#form1").GetWebControls(keyValue);
        postData.ToUserNote = $('#ToUserNote').val();
        $.SaveForm({
            url: "../../SxcManage/Sxc_OrderInfo/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">收件人</td>
            <td class="formValue">
                <input id="Consignee" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">地区</td>
            <td class="formValue">
                <input id="AddressRegion" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">地址</td>
            <td class="formValue">
                <input id="AddressDetail" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">电话</td>
            <td class="formValue">
                <input id="Telephone" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">用户备注</td>
            <td class="formValue">
                <input id="UserNote" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">处理记录</td>
            <td class="formValue">
                @*<input id="ToUserNote" type="text" class="form-control" />*@
                <textarea id="ToUserNote" style="height: 80px;" class="form-control" ></textarea>
            </td>
        </tr>
       
    </table>
</div>
