@{
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        $("#State").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemTreeJson?EnCode=clzt",
            id: "value",
            text: "text",
            height: '200px'
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SxcManage/Sxc_AccountWithdraw/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);

                    if (data.State != 0)
                    {
                        $("#State").attr('disabled', 'disabled');
                        $("#Memo").attr('disabled', 'disabled');
                    }
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "../../SxcManage/Sxc_AccountWithdraw/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    function Close() {
        dialogClose();
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">姓名</td>
            <td class="formValue">
                <label id="Name" type="label"></label>
                @*<input id="Name" type="text" class="form-control" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">开户行</td>
            <td class="formValue">
                <label id="BankName" type="label"></label>
                @*<input id="BankName" type="text" class="form-control" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">开户支行</td>
            <td class="formValue">
                <label id="BranchBankName" type="label"></label>
                @*<input id="BranchBankName" type="text" class="form-control" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">卡号</td>
            <td class="formValue">
                <label id="BankCard" type="label"></label>
                @*<input id="BankCard" type="text" class="form-control" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">提现金额</td>
            <td class="formValue">
                <label id="Amount" type="label"></label>
                @*<input id="Amount" type="text" class="form-control" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">联系电话</td>
            <td class="formValue">
                <label id="MobilePhone" type="label"></label>
                @*<input id="MobilePhone" type="text" class="form-control" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">验证</td>
            <td class="formValue">
                <div id="State" type="select" class="ui-select"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">处理详情</td>
            <td class="formValue">
                @*<input id="ProcessDetail" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />*@
                <textarea id="Memo" style="height: 80px;" class="form-control" isvalid="yes" checkexpession="NotNull"></textarea>
            </td>
        </tr>

    </table>
</div>
@*<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">Name</td>
            <td class="formValue">
                <input id="Name" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">BankCard</td>
            <td class="formValue">
                <input id="BankCard" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">BankName</td>
            <td class="formValue">
                <input id="BankName" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">Amount</td>
            <td class="formValue">
                <input id="Amount" type="text" class="form-control"  />
            </td>
        </tr>
        <tr>
            <td class="formTitle">State</td>
            <td class="formValue">
                <div id="State" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">Memo</td>
            <td class="formValue">
                <textarea id="Memo" class="form-control" ></textarea>
            </td>
        </tr>
       
    </table>
</div>*@
